<h2 matDialogTitle>
    {{data.title}}</h2>

<mat-dialog-content>
    <form name="form">
        <!-- <mat-form-field>
            <input matInput placeholder="Course Description" formControlName="description">
        </mat-form-field> -->
        <mat-form-field>
            <input matInput formControlname="id">
        </mat-form-field>
    </form>


</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="secondary" (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>