<div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
        <div class="row">
            <div class="col-lg-12">
                <h2 matDialogTitle>
                    Title: {{data.reqsub}}</h2>
            </div>
            <div class="col-lg-12">
                <mat-dialog-content>
                    <form name="form" class="example-form" [formGroup]="form">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" value="{{data.name}}" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Mobile" value="{{data.mobile}}" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" value="{{data.email}}" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <mat-form-field class="example-full-width" style="display: block">
                                    <textarea matInput placeholder="Complaint Message" value="{{data.reqmessage}}" item-height="100px" disabled></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <mat-form-field class="example-full-width" style="display: block">
                                    <textarea matInput placeholder="Admin Comments" value="{{data.admincoms}}" item-height="100px" [disabled]="data.reqstatus === 'completed'"
                                    formControlName="admincomments" name="admincomments"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-dialog-content>
            </div>
            <div class="col-lg-12">
                <mat-dialog-actions>
                    <!-- <button type="button" class="btn btn-primary" [hidden]="data.reqstatus === 'completed' ? 'none' : ''" (click)="updateComplaint(data)">Update</button> -->
                    <!-- <button mat-raised-button color="warn" matDialogClose>Close</button> -->
                    <!-- <button type="button" mat-raised-button color="warn" matDialogClose>Close</button> -->
                    <button mat-button color="accent" type="button" class="btn btn-primary"
                        [hidden]="data.reqstatus === 'completed' ? 'none' : ''" (click)="updateComplaint(data)">Update</button>
                    <button mat-button color="warn" matDialogClose (click)="close()">Close</button>
                </mat-dialog-actions>
            </div>
        </div>
    </div>
</div>